@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities'; */

/* .bg-img {
  background: url('../src/assets/icons/advantage_icon.svg');
  background-size: auto;
  object-fit: cover;
} */
