@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities'; */

/* .bg-img {
  background: url('../src/assets/icons/advantage_icon.svg');
  background-size: auto;
  object-fit: cover;
} */

/* Hide the password reveal icon */
input[type='password']::-webkit-contacts-auto-fill-button,
input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-outer-spin-button,
input[type='password']::-webkit-inner-spin-button {
  display: none;
}
